<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consult</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
      integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"
        integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<body>

<div th:insert="navbar :: navbar"></div>

<form th:object="${consult}" th:action="@{/consults/}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="container">

        <div class="panel panel-primary mt-2">

            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title" style="padding: 5px">Schedule/Edit a consult</h1>
            </div>

            <br>

            <div class="panel-body">

                <div class="row col-md-8">
                    <div class="col-md-4" sec:authorize="hasRole('PATIENT')">
                        <label class="col-form-label">Department:</label>
                        <select th:id="'department'" class="form-control" th:field="*{doctor.department.id}" onclick="updateDoctorsVisibility()" />
                            <option th:disabled="true" th:selected="*{doctor.department.id == null}" th:value="null"> -- Select a department -- </option>
                            <option th:each="department : ${allDepartments}"
                                    th:value="${department.id}"
                                    th:utext="|${department.name}|"
                                    th:id="'dep' + ${department.id}"
                                    th:selected="${consult.doctor.department.id != null && consult.doctor.department.id eq department.id}">
                            </option>
                        </select>
                    </div>

                    <div class="col-md-4" sec:authorize="hasRole('PATIENT')">
                        <label class="col-form-label">Doctor:</label>
                        <select th:disabled="*{doctor.department.id == null}" th:id="'doctor'" class="form-control" th:field="*{doctor.id}" />
                            <option th:selected="*{doctor.id == null}" disabled th:id="'defaultDoc'" th:value="null"> -- Select a doctor -- </option>
                            <option th:each="doctor : ${allDoctors}"
                                    th:value="${doctor.id}"
                                    th:utext="|${doctor.user.lastName} ${doctor.user.firstName}|"
                                    th:id="'doc' + ${doctor.id}"
                                    th:selected="${consult.doctor.id != null  && consult.doctor.id eq doctor.id}">
                            </option>
                        </select>
                        <label th:if="${#fields.hasErrors('doctor')}" th:errors="*{doctor}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                        <label th:if="${error_doctor} != null" class="error text-danger"
                               th:text="${error_doctor}"></label>
                    </div>

                    <div class="col-md-4" sec:authorize="hasRole('DOCTOR')">
                        <label class="col-form-label">Patient:</label>
                        <select class="form-control" th:field="*{patient.id}" />
                            <option selected th:disabled="true" th:value="null"> -- Select a patient -- </option>
                            <option th:each="patient : ${allPatients}"
                                    th:value="${patient.id}"
                                    th:utext="|${patient.user.lastName} ${patient.user.firstName}|"
                                    th:selected="${consult.patient.id == patient.id}">
                            </option>
                        </select>
                        <label th:if="${#fields.hasErrors('patient')}" th:errors="*{patient}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                        <label th:if="${error_patient} != null" class="error text-danger"
                               th:text="${error_patient}"></label>
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label">Date:</label>
                        <input class="form-control" name="date" type="datetime-local" th:field="*{date}"
                               th:value="${T(com.example.medicalappointments.service.Helper).formatDate(consult.date)}"
                               th:attr="min=${#dates.createNow()}"/>
                        <label th:if="${#fields.hasErrors('date')}" th:errors="*{date}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                        <label th:if="${error_date} != null" class="error text-danger"
                               th:text="${error_date}"></label>
                    </div>
                </div>

                <div class="row col-md-8 mt-2" sec:authorize="hasRole('DOCTOR')">
                    <div class="col-md-6">
                        <label>Symptoms:</label>
                        <input type="text" class="form-control" th:field="*{symptoms}" placeholder="Symptoms"/>
                        <label th:if="${#fields.hasErrors('symptoms')}" th:errors="*{symptoms}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                    </div>

                    <div class="col-md-6">
                        <label>Diagnose:</label>
                        <input type="text" class="form-control" th:field="*{diagnose}" placeholder="Diagnose"/>
                        <label th:if="${#fields.hasErrors('diagnose')}" th:errors="*{diagnose}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                    </div>
                </div>

                <div class="row col-md-8 mt-2" sec:authorize="hasRole('DOCTOR')">
                    <div class="col-md-12">
                        <label>Comments:</label>
                        <input type="text" class="form-control" th:field="*{comment}" placeholder="Comments"/>
                        <label th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                    </div>
                </div>

                <div class="row col-md-8 mt-2" sec:authorize="hasRole('DOCTOR')">
                    <div class="col-md-6 form-group">
                        <label>Medication:</label>
                        <div class="container mt-10" style="padding: 0">
                            <select id="medications" th:name="medications" class="selectpicker col-md-10" multiple
                                    aria-label="size 10 select example">
                                <option th:each="selectedMed: ${selectedMedications}" th:name="medications"
                                        th:field="*{medications}"
                                        th:utext="|${selectedMed.medication.name} ${selectedMed.medication.quantity}|"
                                        th:checked="${selectedMed.present}"
                                        th:value="${selectedMed.medication.id}"
                                        th:selected="${selectedMed.present}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 ml-md-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
<script th:inline="javascript">
    const doctors = [[${doctorsDepartments}]];

    window.onload = () => {
        const redirectedDepartment = [[${selectedDepartment}]];
        const redirectedDoctor = [[${selectedDoctor}]];
        const departmentSelect = $("#department");
        const doctorSelect = $("#doctor");

        if (redirectedDoctor != null) {
            const chosenDepartment = doctors
                .filter(doc => doc.id === redirectedDoctor)
                .map(doc => doc.department.id)[0];
            departmentSelect.val(chosenDepartment).change();
            doctorSelect.val(redirectedDoctor).change();
        } else if (redirectedDepartment != null) {
            departmentSelect.val(redirectedDepartment).change();
        }

        updateDoctorsVisibility();
    }

    function updateDoctorsVisibility() {
        const departmentSelect = $("#department");
        let chosenDepartment = departmentSelect.val();

        if (chosenDepartment != null) {
            const doctorSelect = $("#doctor");
            doctorSelect.attr("disabled", false);

            for (let doc of doctors) {
                let option = $(`#doc${doc.id}`);
                option.attr('hidden', doc.department.id.toString() !== chosenDepartment);

                if (option.is(":selected") === true && option.is(":disabled") !== true && doc.department.id.toString() !== chosenDepartment) {
                    doctorSelect.val(null).change();
                }
            }
        }
    }
</script>