<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<body>

<div th:insert="navbar :: navbar"></div>

<form th:object="${department}" th:action="@{/departments/}" method="post" style="padding-left: 30px">
    <input type="hidden" th:field="*{id}"/>
    <div class="container">

        <div class="panel panel-primary">

            <div class="panel-heading" style="padding-top:15px;">
                <h2 th:if="${department.id != null}" class="panel-title">
                    Edit department
                </h2>
                <h2 th:unless="${department.id != null}" class="panel-title">
                    Add department
                </h2>
            </div>

            <br>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Department name:</label>
                        <input type="text" class="form-control" th:field="*{name}"/>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" type="error"
                               class="error text-danger">
                            Error
                        </label>
                        <label th:if="${error_department} != null" class="error text-danger"
                               th:text="${error_department}"></label>
                    </div>
                </div>

                <br>

                <div class="panel-heading" style="padding-top:15px;">
                    <h2 class="panel-title">Medical procedures</h2>
                </div>

                <table class="table table-striped table-hover mt-4">

                    <thead class="thead-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tr th:each="procedure: ${department.procedures}">

                        <td th:text="${procedure.id}"></td>
                        <td th:text="${procedure.name}"></td>
                        <td th:text="${procedure.price}"></td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <a class="btn btn-danger" href="#" th:href="@{'/procedures/{id}/delete'(id=${procedure.id})}"
                               role="button">
                                Delete
                            </a>
                        </td>
                    </tr>
                </table>

                <br>

                <div class="row">
                    <div class="col-md-7 ml-md-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<br>

<div class="container" style="padding-left: 30px">

    <form th:if="${department.id != null}" th:object="${newProcedure}"
          th:action="@{/procedures/{departmentId}(departmentId=${department.id})}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="col-md-3 form-group">

            <label>Procedure name:</label>
            <input id="procedureName" type="text" class="form-control" th:field="${newProcedure.name}"/>
            <label th:if="${#fields.hasErrors('name')}" th:errors="${newProcedure.name}" type="error"
                   class="error text-danger">
                Error
            </label>
        </div>

        <div class="col-md-3 form-group">
            <label>Procedure price:</label>
            <input id="procedurePrice" type="text" class="form-control" th:field="${newProcedure.price}"/>
            <label th:if="${#fields.hasErrors('price')}" th:errors="${newProcedure.price}" type="error"
                   class="error text-danger">
                Error
            </label>
        </div>

        <br>

        <div class="row">
            <div class="col-md-7 ml-md-auto">
                <button type="submit" class="btn btn-primary">Add procedure</button>
            </div>
        </div>
    </form>

    <form th:unless="${department.id != null}" th:object="${newProcedure}" th:action="@{/departments}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="col-md-3 form-group">

            <label>Procedure name:</label>
            <input id="procedureName" type="text" class="form-control" th:field="${newProcedure.name}"/>
            <label th:if="${#fields.hasErrors('name')}" th:errors="${name}" type="error"
                   class="error text-danger">
                Error
            </label>
        </div>

        <div class="col-md-3 form-group">
            <label>Procedure price:</label>
            <input id="procedurePrice" type="text" class="form-control" th:field="${newProcedure.price}"/>
            <label th:if="${#fields.hasErrors('price')}" th:errors="${price}" type="error"
                   class="error text-danger">
                Error
            </label>
        </div>

        <br>

        <div class="row">
            <div class="col-md-7 ml-md-auto">
                <button type="submit" class="btn btn-primary">Add procedure</button>
            </div>
        </div>

        <!--    <div th:id="'btnAddProcedure'" class="btn btn-primary" onclick="btnAddProcedure()">Add procedure</div>-->
        <!--    <button class="btn btn-secondary">Delete</button>-->

    </form>

</div>

</body>
</html>
